<%= link_to recipe_path(recipe) do %>
  <div class="flex flex-row justify-center border-2 border-black rounded-lg gap-6">
    <div class="flex flex-col gap-3 p-4 justify-around">
      <h1>
        <%= recipe.name %>
      </h1>
      <p class="p-4">
        <%=form_with model: Recipe.new, url: recipe_path(recipe), method: :delete do %>
          <button class="text-red-300">delete</button>
        <% end %>
      </p>
    </div>
    <p class="p-4">
      <%= recipe.description %>
    </p>
  </div>
<% end %>
